<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="default" connectionString="Server=WIN-82HQ910GLE7;Initial Catalog=DoxPro_Env_Flex;User Id=dox_user;Password=doxpro;"/>
  </connectionStrings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <appSettings>

    <add key="queuePath" value="C:\Users\Mark\Documents"/>
    <add key="newPath" value="C:\Users\Mark\Documents\filed"/>
    <add key="manualFolder" value="c:\temp"/>

    <add key="psNewPath" value="c:\temp"/>
    <add key="psErrorPath" value="c:\temp"/>
    <add key="psManualPath" value="c:\temp"/>

    <add key="invoiceNewPath" value="c:\temp"/>
    <add key="invoiceErrorPath" value="c:\temp"/>
    
  </appSettings>
</configuration>